<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="../register.js" defer></script>
</head>
<body>

<h3>WELCOME IN REGISTER</h3>

<p>enter your chosen name:</p>
<input id="name" type="text"></input><br>
<p>enter your chosen password:</p>
<input id="password" type="text"></input><br><br>
<button id="register" type="button">register</button>
<p id="info"></p>
<button id="toContinue" type="button" hidden></button>


</body>
</html>